@using Draughts.Application.ModPanel.ViewModels
@model ModPanelOverviewViewModel
@{
    ViewBag.Title = "Mod panel - Admin logs";
}

<nav class="side-menu">
    @Utils.SideMenu(Model.Menu)
</nav>

<div class="text-side-menu-container">
    <h1>@ViewBag.Title</h1>
    <p>The authorisation log of all the administrator actions.</p>
    <table class="page-table">
        <caption>Displaying @Utils.PaginationRangeOfTotal(Model) log entries.</caption>
        <thead>
            <tr>
                <th class="left normal">User</th>
                <th class="left large">Date</th>
                <th class="left">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.AdminLogs) {
                <tr>
                    <td>@Utils.UserLink(log.UserId, log.Username)</td>
                    <td>@Utils.DateTime(log.CreatedAt)</td>
                    <td id="admin-log-id-@log.Id">@log.Description</td>
                </tr>
            }
            @if (Model.AdminLogs.Count == 0) {
                <tr><td colspan="3">No logs found.</td></tr>
            }
        </tbody>
    </table>
    <div class="paginate">
        @Utils.PaginationNav(Model, "/modpanel/admin-logs")
    </div>
</div>
