@using Draughts.Application.ModPanel.ViewModels;
@model RoleViewModel
@{
    if (Model is null) {
        throw new InvalidOperationException("Model not set.");
    }
    ViewBag.Title = "Mod panel - Edit role";
}

<div class="text-container">
    <h1>@ViewBag.Title</h1>
    <p>
        Edit the '@Model.Rolename' role and its permissions.
        You can also edit this role's <a @Utils.Href($"/modpanel/role/{Model.Id}/users")>users</a>
        or <a @Utils.Href("/modpanel/roles")>go back</a>.
    </p>

    <div>
        <form class="form-horizontal" action="/modpanel/role/@Model.Id/edit" method="post">
            <h3>Role properties</h3>
            <label>
                <span>Rolename:</span>
                <input type="text" name="rolename" value="@Model.Rolename" placeholder="Rolename" />
            </label>

            <h3>Permissions</h3>
            @foreach (var p in Model.PermissionList) {
                <label>
                    <input type="checkbox" name="permissions" value="@p.Permission" checked="@p.IsGranted" />
                    @p.Permission
                </label>
            }

            <div class="form-group">
                <span></span>
                <input type="submit" value="Save role" />
                <span><a @Utils.Href("/modpanel/roles")>Cancel</a></span>
            </div>
        </form>
    </div>
</div>
