@using Draughts.Application.ModPanel.ViewModels;
@model ModPanelRolesViewModel
@{
    if (Model is null) {
        throw new InvalidOperationException("Model not set.");
    }
    ViewBag.Title = "Mod panel - Manage roles";
}

<nav class="side-menu">
    @Utils.SideMenu(Model.Menu)
</nav>

<div class="text-side-menu-container">
    <h1>@ViewBag.Title</h1>
    <p>An overview of all the roles.</p>
    <table class="page-table">
        <thead>
            <tr>
                <th class="left">Role</th>
                <th class="center small"># users</th>
                <th class="center small"># grants</th>
                <th class="center small"></th>
                <th class="center small"></th>
                <th class="center small"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles) {
                <tr>
                    <td>@role.Rolename</td>
                    <td class="center">?</td>
                    <td class="center">@role.NrOfGrantedPermissions</td>
                    <td class="center"><a @Utils.Href($"/modpanel/role/{role.Id}/edit")>edit</a></td>
                    <td class="center"><a @Utils.Href($"/modpanel/role/{role.Id}/users")>users</a></td>
                    <td class="center">@Utils.PostLink("delete", $"/modpanel/role/{role.Id}/delete")</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <form class="form-horizontal" action="/modpanel/role/create" method="post">
            <div class="form-group">
                <span>Create a new role:</span>
                <input type="text" name="rolename" placeholder="Rolename" />
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>
