@model GamelistAndMenuViewModel 
@{
    ViewBag.Title = "Finished games";
}

<nav class="side-menu">
    @Utils.SideMenu(Model.Menu)
</nav>

<div class="text-side-menu-container">
    <h1>@ViewBag.Title</h1>
    <p>Your past games.</p>

    <table class="page-table">
        <thead>
            <tr>
                <th class="left normal">Game id</th>
                <th class="left normal">Players</th>
                <th class="left">Settings</th>
                <th class="left large">Created at</th>
                <th class="left large">Finished at</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games) {
                <tr>
                    <td>@Utils.GameLinkU(game.Id)</td>
                    <td>@Utils.UserLink(@game.Players[0]) vs @Utils.UserLink(@game.Players[1])</td>
                    <td>@game.Settings.Description</td>
                    <td>@Utils.DateTime(@game.CreatedAt)</td>
                    <td>@Utils.DateTime(@game.FinishedAt)</td>
                </tr>
            }
            @if (Model.Games.Count == 0) {
                <tr><td colspan="5">No finished games found.</td></tr>
            }
        </tbody>
    </table>
</div>
