@model UserViewModel
@{
    ViewBag.Title = "User: " + Model.Username;
}

<div class="text-container">
    <h1>@Model.Rank.Name @Model.Username</h1>
    
    <table class="page-table">
        <thead>
            <tr>
                <th class="left large"></th>
                <th class="left normal">Played</th>
                <th class="left normal">Won</th>
                <th class="left normal">Lost</th>
                <th class="left">Tied</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total:</td>
                <td>@Model.Statistics.TotalTally.Played</td>
                <td>@Model.Statistics.TotalTally.Won</td>
                <td>@Model.Statistics.TotalTally.Lost</td>
                <td>@Model.Statistics.TotalTally.Tied</td>
            </tr>
            <tr>
                <td>International:</td>
                <td>@Model.Statistics.InternationalTally.Played</td>
                <td>@Model.Statistics.InternationalTally.Won</td>
                <td>@Model.Statistics.InternationalTally.Lost</td>
                <td>@Model.Statistics.InternationalTally.Tied</td>
            </tr>
            <tr>
                <td>English draughts:</td>
                <td>@Model.Statistics.EnglishAmericanTally.Played</td>
                <td>@Model.Statistics.EnglishAmericanTally.Won</td>
                <td>@Model.Statistics.EnglishAmericanTally.Lost</td>
                <td>@Model.Statistics.EnglishAmericanTally.Tied</td>
            </tr>
            <tr>
                <td>Other:</td>
                <td>@Model.Statistics.OtherTally.Played</td>
                <td>@Model.Statistics.OtherTally.Won</td>
                <td>@Model.Statistics.OtherTally.Lost</td>
                <td>@Model.Statistics.OtherTally.Tied</td>
            </tr>
        </tbody>
    </table>
</div>
