@model GamelistViewModel 
@{
    if (Model is null) {
        throw new InvalidOperationException("Model not set.");
    }
    ViewBag.Title = "Game lobby";
}

<div class="text-container">
    <h1>@ViewBag.Title</h1>
    @if (Utils.Can(ViewBag.Permissions, Permissions.PlayGame)) {
        <p>Join one of the open games, or <a @Utils.Href("/lobby/create")>create a new game</a>.</p>
    }
    else {
        <p>The list of open games. You need to <a @Utils.Href("/auth/login")>login</a> to join one.</p>
    }

    <table class="page-table">
        <caption>Displaying @Utils.PaginationRangeOfTotal(Model) games.</caption>
        <thead>
            <tr>
                <th class="left normal">Game id</th>
                <th class="left normal">Opponent</th>
                <th class="left">Settings</th>
                <th class="left"></th>
                <th class="left large">Created at</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games) {
                <tr>
                    <td>@Utils.GameLinkU(game)</td>
                    <td>
                        @if (game.Players.Any()) {
                            @Utils.UserLink(@game.Players[0])
                        } else {
                            <span>none</span>
                        }
                    </td>
                    <td>@game.Settings.Description</td>
                    <td>
                        @if (game.Players.Any(p => p.UserId == ViewBag.UserId)) {
                            <span class="disabled">joined</span>
                        } else {
                            @Utils.PostLink("join", "lobby/join", ("gameId", game.Id.ToString()))
                        }
                    </td>
                    <td>@Utils.DateTime(@game.CreatedAt)</td>
                </tr>
            }
            @if (Model.Games.Count == 0) {
                <tr><td colspan="5">No games found.</td></tr>
            }
        </tbody>
    </table>
    <div class="paginate">
        @Utils.PaginationNav(Model, "/lobby")
    </div>

    <p>Go to the <a @Utils.Href("/lobby/spectate")>spectator lounge</a>.</p>
</div>
