@model GamelistViewModel 
@{
    ViewBag.Title = "Game lobby";
}

<div class="text-container">
    <h1>@ViewBag.Title</h1>
    @if (Utils.Can(ViewBag.Permissions, Permissions.PlayGame)) {
        <p>Join one of the open games, or <a href="/lobby/create">create a new game</a>.</p>
    }
    else {
        <p>The list of open games. You need to <a href="/auth/login">login</a> to join one.</p>
    }

    <table class="page-table">
        <thead>
            <tr>
                <th class="left normal">Game id</th>
                <th class="left normal">Opponent</th>
                <th class="left">Settings</th>
                <th class="left large">Created at</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games) {
                <tr>
                    <td><a href="/game/@game.Id">Game @game.Id</a></td>
                    <td>@Utils.UserLink(@game.Players[0])</td>
                    <td>@game.Settings.Description</td>
                    <td>@Utils.DateTime(@game.CreatedAt)</td>
                </tr>
            }
            @if (Model.Games.Count == 0) {
                <tr><td colspan="4">No games found.</td></tr>
            }
        </tbody>
    </table>

    <p>Go to the <a href="/lobby/spectate">spectator lounge</a>.</p>
</div>
