<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | Draughts</title>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <ul class="nav-list">
                    <li><a class="navbar-home" href="/">Draughts</a></li>
                    <li><a href="/user/list">Userlist</a></li>
                    @if (Utils.Can(ViewBag.Permissions, Permissions.PlayGame)) {
                        <li><a href="/gamelist/active">My games</a></li>
                    }
                    <li><a href="/lobby/index">Lobby</a></li>
                    @if (Utils.Can(ViewBag.Permissions, Permissions.ViewModPanel)) {
                        <li><a href="/modpanel">Mod panel</a></li>
                    }
                </ul>

                @if (ViewBag.IsLoggedIn) {
                    <div class="nav-user">
                        Logged in as: @Utils.UserLink(ViewBag.UserId, ViewBag.Username) | @Utils.PostLink("Logout", "/auth/logout")
                    </div>
                }
                else {
                    <div class="nav-user">
                        Viewing as guest: <a href="/auth/login">Login</a> | <a href="/auth/register">Register</a>
                    </div>
                }
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            @if (ViewBag.Errors.Count > 0) {
                <div id="page-errors" class="page-errors">
                    <div class="page-errors-x">
                        <a href="#" class="show-hide-link" data-id="page-errors">&times;</a>
                    </div>
                    <ul>
                        @foreach (var (_, error) in (IReadOnlyList<(string, string)>)ViewBag.Errors) {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }

            @RenderBody()
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            &copy; @DateTime.Now.Year
            - Draughts
            - <a href="/privacy">Privacy</a>
            - <a href="/license">License</a>
            - <a href="/documentation">About</a>
            - <a class="extern" href="https://github.com/Mattias1/ddd-draughts">Github</a>
        </div>
    </footer>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
